<%= f.fields_for :review_details do |details_form| %>
  <div class="row">
    Subtype
    <%= details_form.text_field(:subtype) %>
  </div>

  <div class="row">
    Maker
    <%= details_form.text_field(:maker) %>
</div>
<% end %>
