<div class="row">
  Subtype
  <%= text_field_tag(:subtype) %>
</div>

<div class="row">
  Restaurant
  <%= select_tag :restaurant, options_for_select(RestaurantReviewDetails.all.map { |restaurant| [restaurant.parent_review.name, restaurant.id] } ) %>
</div>
