<%= f.fields_for :review_details, @review.review_details do |details_form| %>
  <div class="row">
    Genre
    <%= details_form.text_field(:genre) %>
  </div>

  <div class="row">
    Developer
    <%= details_form.text_field(:developer) %>
  </div>
<% end %>