/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body > .container {
  width: 75%;
}

.login {
  text-align: right;
  margin: 5px 15px;
}

.show {
  display: inline-block;
  width: 4%;
}

.review {
  margin-top: .8em;
  border: .1em solid black;
  border-radius: 5px;
  padding: .6em;
  display: inline-block;
  width: 94.9%;
  
  .col-sm:not(.review-body):not(.left) {
    margin-top: .4em;
    border-left: .08em solid black;
  }

  .name {
    font-weight: bold;
    font-size: 1.2em;
  }

  .rating {
    font-weight: bold;
  }

  &.restaurant {
    background-color: lightgoldenrodyellow;
  }

  &.restaurant-item {
    background-color: #CCFFCC;
  }

  &.booze {
    background-color: rgb(222,184,135);
  }
}