<div class="container">
  <h1>Max Reviews Everything!</h1>
  <% @reviews.each do |review| %>
    <div class="container review">
      <div class="row">
        <div class="col-sm name">
          <%= review.name %>
        </div>
        <div class="col-sm rating">
          <%= review.rating %> / 5.5
        </div>
        <div class="col-sm type">
          <%= review.review_details.type %>
        </div>
      </div>
      <div class="row review-body">
        <div class="col">
          <%= review.body %>
        </div>
      </div>
    </div>
  <% end %>
</div>