<div class="container">
  <h1>Create a Review</h1>

  <%= form_with(model: @review) do |f| %>
    <%= render partial: '/reviews/review_form', locals: {f: f} %>

    <div class="row">
      <%= f.submit('Create') %>
    </div>
  <% end %>
</div>
